---
interface Props {
  src: string;
  alt: string;
  // Optional width and height for aspect ratio or layout shift prevention
}
const { src, alt } = Astro.props;
---

<div class=" max-w-full w-auto h-auto">
  <img src={src} alt={alt} class="max-w-full w-auto h-auto block object-contain"/>
</div>
